{% extends "layout.html" %}

{% block content %}
    <div id="wrapper">
        <img src="https://avatars3.githubusercontent.com/u/51240229?s=400&v=4" alt="Marcos Del Valle">
        <h1>Desenvolvedor FullStack</h1>
        <h2>Marcos Del Valle</h2>
        <p>Desenvolvedor Fullstack com foco em desenvolvimento de aplicações nativas.</p>
    </div>

    <div id="links-footer" class="links">
        <a href="https://github.com/mansodelvalle" target="_blank">Github</a>
        <a href="https://twitter.com/faladelvalle" target="_blank">Twitter</a>
        <a href="https://facebook.com/mansodelvalle" target="_blank">Linkedin</a>
    </div>
{% endblock %}
</body>
</html>