<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">

    {% block head %}
        <title>localdev</title>
    {% endblock %}

</head>
<body>
    
    <header>
        <div class="links">
            <a href="/">About</a>
            <a href="/courses">Courses</a>
        </div>
    </header>

    {% block notfound %}{% endblock %}

    {% block content %}{% endblock %}

</body>
</html>