{% extends "layout.njk" %}

    {% block notfound %}
        <div id="wrapper">
            <img src="https://assets-ouch.icons8.com/preview/442/06b5f125-84f0-45fe-9573-32dd44afac8c.png" alt="Marcos Del Valle">
            <h1>Opssss!</h1>
            <h2>Esta página não foi encontrada</h2>
        </div>
    {% endblock %}